
<div class="container">
	<ol class="breadcrumb custom-bottom-margin">
	{{#if breadcrumbs}}
		{{#each breadcrumbs as |breadcrumb| }}
			<li><a href="{{ breadcrumb.url }}">{{breadcrumb.name}}</a></li>  
		{{/each}}
	{{/if}}
  </ol>
</div>