	<footer id="footer" class="container">
	<ul id="about" class="custom-bottom-margin">
		<li><a href="#">about us</a></li>
		<li>|&nbsp;<a href="#">about us</a></li>
		<li>|&nbsp;<a href="#">about us</a></li>
	</ul>
	<div id="content-footer" class="row">
		<div class="col-md-6 col-xs-12">
			<h4 class="title-form">Sign up form free</h4>
			<form class="">
				<div class="col-md-10 col-xs-10">
			    <div class="form-group">
			      <input type="email" class="form-control" id="email" placeholder="Enter email">
			    </div>
		    </div>
		    <div class="col-md-2 col-xs-2">
				  <button type="submit" class="btn btn-success">Submit</button>
				</div>
		  </form>
		</div>
		<div class="col-md-6 col-xs-12">
			<h4 class="title-follow">Follow us</h4>
			<div id="follow">
				<img src="../images/visa.png">
				<img src="../images/visa.png">
				<img src="../images/visa.png">
				<img src="../images/visa.png">
				<img src="../images/visa.png">
			</div>
		</div>
	</div>
	<div id="copy-right">
		&copy; 2017 NATURALE.  Theme by Clean Themes. Ecommerce Software by Shopify
	</div>
</footer>