<h1>{{title}}</h1>
<ul class="people_list">
  {{#each users as |user|}}
    <li>
    	{{user.name}}
    	<ul>
    		{{#each user.Posts as |post|}}
					<li>{{ post.content }}</li>
    		{{/each}}
    	</ul>
    </li>
  {{/each}}
</ul>
