{
  "development": {
    "username": "postgres",
    "password": "123",
    "database": "lab01_development",
    "host": "127.0.0.1",
    "port": 5432,
    "dialect": "postgres"
  },
  "test": {
    "username": "postgres",
    "password": "123",
    "database": "lab01_test",
    "host": "127.0.0.1",
    "port": 5432,
    "dialect": "postgres"
  },
  "production": {
    "username": "postgres",
    "password": "123",
    "database": "lab01_production",
    "host": "127.0.0.1",
    "port": 5432,
    "dialect": "postgres"
  }
}
